/* Color Theme Swatches in RGBA */
.Color { color: #000000}
.ParentBg { color: #2C7CB0 }
.Bg { color: #398557 }
.border { color: #A5DCE4 }


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #2C7CB0;
    color: #000000;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 120px;
    background-color: #2C7CB0;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2, p, span {
    cursor: default;
}
.project-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: #398557;
    border: 5px solid #A5DCE4;
    width: 20%;
    height: 800px
}

.list-column{
    background-color: #398557;
    border: 5px solid #A5DCE4;
    width: 60%;
    height: 800px
}

.project-header{
    margin-top: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.list-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    font-size: 2rem;
    display: flex;
    margin-bottom: 15px;
}

.project-column button{
    background-color: #ba5312;
    border: 1px solid #A5DCE4;
    height: 40px;
    width: 150px;
}

.list-column button{
    background-color: #ba5312;
    border: 1px solid #A5DCE4;
    height: 40px;
    width: 150px;
}

.project-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 550px;
    background-color: #ba5312;
    border: 1px solid #A5DCE4;
    min-height: 0;
    overflow: auto;
}

.project-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 0.6rem;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    background-color: #398557;
    border: 1px solid #A5DCE4;
}

.project-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 150px;
    height: 40px;
    background-color: rgb(200, 36, 36);
    border: 2px solid black;
}

    .list-column{
        min-height: 0;
        overflow: auto;
    }

    /*Body to hold containers for todos*/
    .list-body{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 15px;
        gap: 20px;
        flex-wrap: wrap;
    }

    /*todo elements that are added to the body of the list*/
    .todo-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #ba5312;
        border: 1px solid #A5DCE4;
        height: 85px;
        width: 31%;
        margin-bottom: 15px;
    }
    /*The project form that pops up when I click the new project button.
    It starts not displayed and then centers on the body tag.*/
.project-form{
    visibility: hidden;
    display: flex;
    text-align: center;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 150px;
    background-color: #ba5312;
    border: 5px solid #A5DCE4;
}

.project-form input{
    background-color: #2C7CB0;
    border: 1px solid #A5DCE4;
    margin-top: 10px;
}

.project-form button{
    margin-top: 15px;
    height: 50px;
    width: 75px;
}

.project-submit{
    background-color: #398557;
}

.project-exit{
    background-color: rgb(200, 36, 36);
}

.list-form{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#ba5312;
    border: 5px solid #A5DCE4;
    height: 600px;
    width: 500px;
}

.list-row{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.list-row p{
    margin-bottom: 15px;
}

.list-row-button button{
    margin-top: 15px;
    height: 50px;
    width: 75px;
}

.list-submit{
    background-color: #398557;
}

.list-exit{
    background-color: rgb(200, 36, 36);
}

.todo-info{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#ba5312;
    border: 5px solid #A5DCE4;
    height: 500px;
    width: 500px;
    gap: 40px;
}

.info-row {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-wrap: break-all;
}

.info-row p {
    display: flex;
    flex-wrap: wrap;
}


.info-exit {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: flex-end;
    background-color: rgb(200, 36, 36);
    margin-top: 15px;
    height: 50px;
    width: 75px;
}
